@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-accent-1: #ecf9e9;
  --color-accent-2: #0075db;
  --color-accent-3: #0075db;
  --color-accent-4: #e0f3ff;
  --color-accent-5: #ecf9e9;
  --color-accent-6: #000000;

  --bg-base: #fff;
  --bg-base-1: #eff0f1;
  --bg-base-2: #e3e5e7;
  --bg-base-3: #bcc1c7;
  --bg-base-4: #fff;
  --bg-navbar: #455363;
  --bg-popovers: #fff;
  --bg-base-2-translucent: rgba(227, 229, 231, 0.5);
  --bg-base-3-translucent: rgba(188, 193, 199, 0.5);

  --color-base: #1e2f42;
  --color-base-1: #2f3e50;
  --color-base-2: #606c7a;
  --color-base-3: #7f8893;

  --color-border: #eff0f1;
  --color-border-1: #d8dade;
  --color-border-2: #d8dade;

  --link-color: #1e2f42;
  --link-color-primary: #0075db;
  --link-color-secondary: #0075db;

  --btn-color-primary: #fff;
  --btn-bg-primary: #0075db;
  --btn-bg-primary-hover: #0061b5;
  --btn-border: #0075db;

  --btn-color-secondary: #9ea5ad;
  --btn-bg-secondary: #eff0f1;
  --btn-bg-secondary-hover: #e3e5e7;
}

html,
body {
  height: 100%;
  max-width: 100vw;
  color: var(--color-base);
  font-size: 16px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
